
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section H1 {
    <h1>Rate Adjustments</h1>
}

    
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Filter Rates</h3>
    </div><!-- /.box-header -->

    <div class="box-body no-padding">

        <table class="table table-condensed">
            <tr>
                <td></td>
                <th scope="col">Rate Adjustments</th>
            </tr>
            <tr>
                <td>@Html.ActionLink("Edit", "AdjustmentsByBranch")</td>
                <td>Rate Adjustments by Branch</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Edit", "AdjustmentsByVehicleGroup")</td>
                <td>Rate Adjustments by Vehicle Group</td>
            </tr>

            <tr>
                <td>@Html.ActionLink("Edit", "AdjustmentsByRateCode")</td>
                <td>Rate Adjustments by Rate Code</td>
            </tr>

            <tr>
                <td>@Html.ActionLink("Edit", "AdjustmentsByDemand")</td>
                <td>Rate Adjustments by Demand</td>
            </tr>

        </table>
        </div>
</div>