@import "vars";

section {
    margin: 20px 0;
}

nav ul li {
    display: block;
}


.navbar-nav li a,
.navbar-nav li span, {
    padding-bottom: 15px;
    padding-top: 15px;
}
.navbar-nav li a,
.navbar-nav li span {
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.nav li a,
.nav li span {
    display: block;
    padding: 10px 15px;
    position: relative;
}