<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="runatHour" value="16"/>
    <add key="runatMinute" value="13"/>
    <add key="downloadPath" value="C:\Users\Oliver\Downloads"/>
    <add key="ftpPassword" value="F1n3s123"/>
    <add key="ftpAddress" value="ftp.woodford.co.za"/>
    <add key="ftpUsername" value="Fines"/>
    
  </appSettings>
  <system.net>
    <!--<mailSettings>
      <smtp from="woodford.co.za &lt;jhb@woodford.co.za&gt;" deliveryMethod="Network">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\mail\woodford2015\" />

        <network host="127.0.0.1" />
      </smtp>
    </mailSettings>-->
    <mailSettings>
      <smtp from="Woodford Group &lt;noreply@woodford.co.za&gt;" deliveryMethod="Network">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\mail\woodford" />


        <network host="196.2.164.2" userName="webmaster@woodford.co.za" password="lq3T#I" port="587" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>