
@{
    Layout = null;
}


<img src="https://www.woodford.co.za/Content/images/email_signature/background_junior.png" />

<div style="position: absolute;left:123px;top: 155px;font-size:large;"><strong>Yours sincerely</strong></div>

<div style="position: absolute;left:123px;top: 175px;font-size:large;"><strong>Tafadzwa Kambewa</strong></div>

<div style="position: absolute;left:123px;top: 195px;font-size:large;color: #0F8F5F;"><strong>Reservations</strong></div>

<div style="position: absolute;left:140px;top: 229px;font-size:large;">+27 (0)31 207 8669</div>

<div style="position: absolute;left:140px;top: 260px;font-size:large;">+27 (0)83 383 8786</div>

<div style="position: absolute;left:140px;top: 290px;font-size:large;">reservations@woodford.co.za</div>






<div style="position: absolute;left:1025px;top: 240px;font-size:large;"><strong>Zufer Khan</strong></div>

<div style="position: absolute;left:1025px;top: 260px;font-size:large;">+27 (0)31 207 8669</div>

<div style="position: absolute;left:1025px;top: 280px;font-size:large;">+27 (0)83 441 7671</div>

<div style="position: absolute;left:1025px;top: 300px;font-size:large;">zufer@woodford.co.za</div>

<div style="position: absolute;left:1025px;top: 400px;font-size:large;"><strong>Essa Ebrahim Suleman</strong></div>

<div style="position: absolute;left:1025px;top: 420px;font-size:large;">essa@woodford.co.za</div>
