.waiver-list {
    border-bottom: 1px solid #f4f4f4;
    line-height: 2;
}

.waiver-list span {
    display: inline-block;
    margin-right: 20px;
    width: 200px;
}

span.waiver-list-item {
    display: inline-block;
    margin-right: 20px;
    width: 200px;
}