@import "vars";

.count-down-special-container {
    color: $brand-colour-alternate;
    font-style: italic;
}
label.count-down-special-rate {
    color: $brand-colour-alternate;
    font-style: italic;
}