.grid-of-items .row {
    border-bottom: 1px solid #999;
    padding: 2rem 0;
}

.grid-item h3 {
    margin-bottom: 1.5rem;
}
.grid-item p {
    margin-bottom: 1.5rem;
}

.grid-item span.faux-table-header {
    display: inline-block;
    font-weight: bold;
    width: 80px;
}
.grid-item {
    position: relative;
}

img.small-image {
    position: absolute;
    right: 0;
    top: 0;
}