$font-family-header: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-body: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;


$font-size-h1: 2.8rem !default;
$line-height-h1: 1.5 !default;
$letter-spacing-h1: 0 !default;
$margin-bottom-h1: 2.0rem !default;

$font-size-h2: 2.6rem !default;
$line-height-h2: 1.25 !default;
$letter-spacing-h2: 0 !default;
$margin-bottom-h2: 1.0rem !default;

$font-size-h3: 2.2rem !default;
$line-height-h3: 1.3 !default;
$letter-spacing-h3: -.1rem !default;
$margin-bottom-h3: 2.0rem !default;

$font-size-h4: 2.0rem !default;
$line-height-h4: 1.35 !default;
$letter-spacing-h4: 0 !default;
$margin-bottom-h4: 2.0rem !default;

$font-size-h5: 1.8rem !default;
$line-height-h5: 1.5 !default;
$letter-spacing-h5: 0 !default;
$margin-bottom-h5: 2.0rem !default;

$font-size-h6: 1.5rem !default;
$line-height-h6: 1.6 !default;
$letter-spacing-h6: 0 !default;
$margin-bottom-h6: 2.0rem !default;

$font-size-body: 1.3em !default;
$line-height-body: 1.6 !default;
$letter-spacing-body: 0 !default;
$margin-bottom-1: 2.0rem !default;
$font-size-button: 1.5rem !default;


$brand-colour-dark: #187546 !default;
$brand-colour-light: #d0d441 !default;
$brand-colour-alternate: #b73537 !default;

/*$navigation-text-color: #000 !default;
$navigation-text-size: 1.4rem !default;
$navigation-text-hover-color: #999 !default;
$navigation-text-weight: 700 !default;
$navigation-text-letter-spacing: 0.05rem !default;*/

$body-text-color: #333 !default;
$reverse-text-color: #fff !default;

$error-colour: #ff0000 !default;
$button-background-colour: #b73537 !default;
$button-background-colour-hover: #187546 !default;