@model CheckoutViewModelBase
@{
    ViewBag.Title = "Search Expired - Not enough lead time";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns">

        <h1>Not enough lead time to book.</h1>

        <p>We're sorry, the search result is no longer valid as there is not enough lead time to book. Please use the search tools above to find another deal.</p>

    </div>
</div>