<div class="row">
    <div class="col-sm-3 col-xs-6">
        <div class="description-block border-right">
            <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
            <h5 class="description-header">R 1,548,207.96</h5>
            <span class="description-text">TOTAL REVENUE</span>
        </div><!-- /.description-block -->
    </div><!-- /.col -->
    <div class="col-sm-3 col-xs-6">
        <div class="description-block border-right">
            <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
            <h5 class="description-header">8.87%</h5>
            <span class="description-text">CONVERSION RATE</span>
        </div><!-- /.description-block -->
    </div><!-- /.col -->
    <div class="col-sm-3 col-xs-6">
        <div class="description-block border-right">
            <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
            <h5 class="description-header">10,264</h5>
            <span class="description-text">USERS</span>
        </div><!-- /.description-block -->
    </div><!-- /.col -->
    <div class="col-sm-3 col-xs-6">
        <div class="description-block">
            <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
            <h5 class="description-header">R39,995</h5>
            <span class="description-text">REWARDS ISSUED</span>
        </div><!-- /.description-block -->
    </div>
</div><!-- /.row -->