 <!-- AREA CHART -->


<div class="col-md-6">
    

    
  
</div>


<div class="chart">
    <canvas id="areaChart" style="height:250px"></canvas>
</div>


<ul class="chart-legend">
    <li><span style="background-color: #4b94bf;">&nbsp;</span> Pickups</li>
    <li><span style="background-color: #d2d6de;">&nbsp;</span> Bookings</li>
</ul>


