<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Quartz" version="2.3.3" targetFramework="net452" />
  <package id="SimpleInjector" version="3.1.0" targetFramework="net452" />
  <package id="SimpleInjector.Integration.Web" version="3.1.0" targetFramework="net452" />
  <package id="SimpleInjector.Integration.Web.Mvc" version="3.1.0" targetFramework="net452" />
  <package id="SimpleInjector.MVC3" version="3.1.0" targetFramework="net452" />
  <package id="WebActivator" version="1.4.4" targetFramework="net452" />
</packages>