@model CheckoutViewModelBase
@{
    ViewBag.Title = "Already Paid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns">

        <h1>This resevation has already completed checkout.</h1>
        

    </div>
</div>