@model CheckoutViewModelBase
@{
    ViewBag.Title = "Quote Expired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns">

        <h1>This quote is no longer available</h1>
        <p>We're sorry, but the quote is no longer available as there is not enough lead time to book. Please use the search tools above to find another deal.</p>

    </div>
</div>