@model RequestCallbackViewModel
@{
    ViewBag.Title = "Message Sent | Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns">
        <h1>Request Callback</h1>
        <p>Thank you for requesting a callback. We will get back to you shortly.</p>
    </div>
</div>
