@model ContactViewModel
@{
    ViewBag.Title = "Message Sent | Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns">
        <h1>Contact</h1>
        <p>Thank you for sending your message.</p>
    </div>
</div>
