<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Woodford.Infrastructure.PayGatePaymentProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Woodford.Infrastructure.PayGatePaymentProcessor.Properties.Settings>
            <setting name="Woodford_Infrastructure_PayGatePaymentProcessor_za_co_paygate_secure_PayHOSTService"
                serializeAs="String">
                <value>https://secure.paygate.co.za/PayHost/process.trans</value>
            </setting>
        </Woodford.Infrastructure.PayGatePaymentProcessor.Properties.Settings>
    </applicationSettings>
</configuration>