@model int
@{
    ViewBag.Title = "ReservationStarted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservation Started</h2>

<p>You are unable to modify reservation @(Model) at this stage, please contact our reservations team directly for further assistance. <br />
    <a href="mailto:reservations@woodford.co.za">reservations@woodford.co.za</a></p>
