@model VoucherModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p><h4>Thank you for your review. Woodford Car Hire appreciates feedback from our valued customers.</h4></p>

<p>As a token of our appreciation, please find below a voucher code that will provide a 10% discount on any rental with Woodford.</p>

<p><strong>@Model.VoucherNumber</strong></p>

<p>We look forward to serving you again soon.</p>