<connectionStrings>
  <!--Craig PC-->
  <!--<add name="DefaultConnection" connectionString="Data Source=Craig-PC\SQL2008Express;Initial Catalog=Woodford2015;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="WoodfordEntities" connectionString="metadata=res://*/DbEntities.csdl|res://*/DbEntities.ssdl|res://*/DbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Craig-PC\SQL2008Express;initial catalog=Woodford2015;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


  <!--Oliver Work PC-->
  <add name="DefaultConnection" connectionString="Data Source=.\SQLExpress;Initial Catalog=Woodford2015;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="WoodfordEntities" connectionString="metadata=res://*/DbEntities.csdl|res://*/DbEntities.ssdl|res://*/DbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=Woodford2015;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  <!--Oliver Home PC-->
  <add name="DefaultConnection" connectionString="Data Source=.\SQLExpress;Initial Catalog=Woodford2015;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="WoodfordEntities" connectionString="metadata=res://*/DbEntities.csdl|res://*/DbEntities.ssdl|res://*/DbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=Woodford2015;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
