
@{
    ViewBag.Title = "ThankYou3496";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row" style="background-color: #128454;padding: 40px 40px 40px 40px;">

    <h2 style="color: white;"><strong>Thank you for participating<br /> in our survey.</strong></h2>

    <p style="color: white;font-size:large;"><strong>As a token of our appreciation, please find below a voucher code<br /> that will entitle you to 100 free kilometers on your next rental:</strong></p>

    <p style="color: white;font-size: x-large;"><strong>TP100KM</strong></p>

    <p style="color: white;font-size:large;"><strong>Please insert the code into the voucher box during the booking process to redeem.<br />T's and C's apply.</strong></p>

    <div class="row">
        <div class="five columns">
            <p style="color: white;font-size:large;">
                <strong>
                    If you haven't yet signed up for Woodford Advance and aren't earning rewards on your rentals, please click below to sign up<br />
                </strong>
                <a href="@Url.Action("Enroll","Advance")" style="color: #D5DB2A;"><strong>www.woodford.co.za/advance</strong></a>
            </p>
        </div>
        <div class="seven columns">
            <img src="~/content/images/advancecard3.png" />
        </div>
    </div>
</div>
@*128454*@