<!DOCTYPE html>
<html>
<head>
    <title>Woodford Notification</title>
    <meta charset="utf-8" />
</head>
<body style="width: 100%; margin: 0; padding: 0;">


    <div style="font-family: Arial, sans-serif; font-size: 12px; margin: 0 auto; width: 1000px; line-height: 18px;">
    <!--<div style="font-family: Arial, sans-serif; font-size: 12px; margin: 0 auto; width: 800px; line-height: 18px;">-->

        <div style="padding: 0; color: #fff; height: 100px; background-color: #187546; text-align: right;">
            <!--<img src="##sitedomain##Content/images/mail-brandmark.jpg" alt="Woodford Car Hire" style="padding-top: 20px;padding-left: 200px;" />-->
            <!--<img src="~/Content/images/mail-brandmark.jpg" alt="Woodford Car Hire" style="padding-top: 20px;padding-left: 500px;" />-->
            <img src="##sitedomain##Content/images/mail-brandmark.jpg" alt="Woodford Car Hire" style="padding-top: 20px;padding-left: 300px;" />
        </div>
        <div style="background-color: #d0d441;padding: 0; height: 10px;">

        </div>
        <div style="padding: 20px 0;">
            ##emailcontent##
        </div>

        <div style="padding: 0; color: #fff; height: 100px; background-color: #187546; text-align: center;">
            <table>
                <tbody>
                    <tr>
                        <td width="50%" style="text-align: left;">
                            <p style="font-size: medium;padding-left: 20px;">
                                <strong>South Africa's largest independant<br /> car hire company</strong>
                            </p>
                        </td>
                        <td width="50%" style="padding-left: 100px;">
                            <img src="##sitedomain##Content/images/mail-brandmark.jpg" alt="Woodford Car Hire" style="padding-top: 20px;" />
                        </td>
                    </tr>
                </tbody>
            </table>



        </div>

        <!--<div style="padding: 10px 0; margin-bottom: 10px; color: #fff; background-color: #187546;">
            <a href="##sitedomain##" style="font-size: 12px; display: block; padding: 5px 10px; color: #ccc;">Woodford Car Hire</a>
        </div>-->

    </div>


</body>
</html>
