@model ForgotPasswordNotificationModel
<p>
    Please click the following link and follow the instructions to reset your Woodford password.
    <a href="@(Model.SiteDomain)User/ResetPassword?token=@Model.ResetToken">Reset password</a>
</p>

<p>If you weren't expecting this email, please ignore it.</p>