@model UserRegistrationNotifcationModel

<p>Dear @Model.User.FirstName</p>

<p>On behalf of the team at Woodford Car Hire, we’d like to thank you for registering and welcome you to the <strong>Woodford Advance</strong> loyalty programme.</p>

<p>
    Your registration will allow us to make your booking experience simpler, quicker, and more convenient for you.
</p>

<p>Using your login name and password, you can now access your profile on Woodford Car Hire’s new website that will lead you to a personalised profile portal from which you can manage your account in the future.</p>
<p>Your Advance number is <strong>@Model.User.LoyaltyNumberFull</strong></p>

<p>
    Woodford Advance opens up a world of benefits to you, with rewards multiplied based on the frequency of your bookings, so be sure to log in with your details whenever making a booking online.
</p>

<p>
    Should you have any further questions or queries, feel free to get in touch with

    us at <a href="mailto:advance@woodford.co.za">advance@woodford.co.za</a> or take a look at the FAQs listed at

    <a href="@Model.SiteDomain/woodford-advance-faq">www.woodford.co.za/woodford-advance-faq</a>
</p>

<p>
    Woodford Advance is thrilled to have you onboard and look forward to your journey with us.
</p>
<p>
    Sincere regards
</p>
<p>
    The Woodford Team
</p>