@model RequestCallbackNotificationModel
<p>A user has requested a callback.</p>
<p>
    Name: <strong>@Model.FullName</strong><br />
    Phone: <strong>@Model.PhoneNumber</strong><br />
    Branch: <strong>@Model.Branch</strong>  <br />
</p>