@model UserRegistrationNotifcationModel

<p>Dear @Model.User.FirstName,</p>


<p>Thank you for registering with Woodford Car Hire.</p>

<p>
    Your registration will allow us to make your booking experience simpler, quicker, and more convenient for you.
</p>

<p>
    Your registration allows you to log-in whilst making a booking by simply indicating that you’ve booked with Woodford before, and providing your email and password.
</p>

<p>
    You can also access your profile and view your reservations and booking history by visiting <a href="@Model.SiteDomain/user/login">www.woodford.co.za/login</a>
</p>

<p>Please feel free to contact us if you have any queries or suggestions.</p>

<p>We look forward to servicing you for the journey ahead.</p>

<p>Regards,</p>

<p>The Woodford Team</p>





