@model UserVoucherNotificationModel

<div style="color: #30693F; font-size: 12px; margin-bottom: 10px;">
   Woodford Voucher: <span style="color: #333; font-size: 18px; margin-left: 20px;">@Model.Voucher.VoucherNumber</span>
</div>

<div style="color: #30693F; font-size: 12px; margin-bottom: 10px;">
 
    
</div>

<p style="color: #646464; font-size: 18px; line-height: 22px; font-style: italic; padding: 8px 0; margin: 0;">
    Thank you for choosing Woodford Car Hire.
</p>
