@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="three columns">
        <div class="nav-block">
            @{Html.RenderPartial("_UserNavigationPartial"); }
        </div>
    </div>

    <div class="nine columns">
        <h1>Claim Sent</h1>
        <p>Your booking claim has been sent. You will be alerted once your request has been processed.</p>
    </div>
</div>