
@{
    ViewBag.Title = "Email Address Changed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns">
        <h1>Email Address changed</h1>

        <p>Your email address has been updated. Please @Html.ActionLink("log in with your new credentials.", "Login", "User")</p>
    </div>
</div>