@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns">
        <h1>Forgot Password</h1>
    </div>
</div>


@using (Html.BeginForm()) {
    <div class="input-form">
        <div class="row">
            <div class="four columns">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="eight columns">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="row">
            <div class="four columns empty-column">&nbsp;</div>
            <div class="eight columns">
                <input type="submit" value="Send" />
            </div>
        </div>
    </div>
}
