@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    
    <div class="twelve columns">
        <h1>Reset Password</h1>
        <p>Your password has been changed</p>
    </div>
</div>